<div id="adminForm" class="center-form">
	<%= button_tag 'Setup', { id:'actGameBtn', class: 'btn btn-primary form-button wide', data: { title: 'Click here to unpack games for show use.' } }  %>
	<%= button_tag 'Teardown', { id:'trdGameBtn', class: 'btn btn-primary form-button wide', data: { title: 'Click here to remove games for packing.' } }  %>
    <%= button_tag 'New Game', { id:'newGameBtn', class: 'btn btn-info form-button wide', data: { title: 'Add a new game to the library catalog.' } }  %>
	<%= button_tag 'Cull Game', { id:'rmvGameBtn', class: 'btn btn-danger form-button wide', data: { title: 'Cull a game from the library permanently.' } }  %>
    <%= link_to 'Suggested Culls', culls_path(@current_pax), { class: 'wide-link' } %>
    <% if is_super_user %>
    	<%= link_to 'Sections', sections_path, { class: 'wide-link' } %>
	    <%= link_to 'Paxes', paxes_path, { class: 'wide-link' } %>
	    <%= button_tag 'Backup Database', { id:'backupDataBtn', class: 'btn btn-info form-button wide', data: { title: 'Dump the database to a SQL file in the server\'s root directory.' } }  %>
    <% end %>
    </div>

<div id="actGameField" class="center-form" style="display: none;">
	<div class="wide-link" style="border: none;">UnPack Game</div>
	<%= text_field_tag :a_g_id, nil, { autocomplete: "off", placeholder: 'Game Barcode', style: 'width: 96%;', data: { title: 'Enter a GAME barcode to put it into ACTIVE show inventory.', actions: ['focus'] } } %>
	<%= button_tag 'Cancel', { id: 'cancelActBtn', class: 'btn btn-danger form-button wide' } %>
	</div>

<div id="trdGameField" class="center-form" style="display: none;">
	<div class="wide-link" style="border: none;">Pack Game</div>
	<%= text_field_tag :t_g_id, nil, { autocomplete: "off", placeholder: 'Game Barcode', style: 'width: 96%;', data: { title: 'Enter a GAME barcode to deactivate it for packing.', actions: ['focus'] } } %>
	<%= button_tag 'Cancel', { id: 'cancelTrdBtn', class: 'btn btn-danger form-button wide' } %>
	</div>

<div id="newGameField" class="center-form" style="display: none;">
	<div class="wide-link" style="border: none;">New Game</div>
	<%= text_field_tag :g_id, nil, { autocomplete: "off", placeholder: 'Game Barcode', style: 'width: 96%;', data: { title: 'Enter the barcode of the new game.', actions: ['focus'] } } %>
	<%= button_tag 'Cancel', { id: 'cancelNewBtn', class: 'btn btn-danger form-button wide' } %>
	</div>
	
<div id="rmvGameField" class="center-form" style="display: none;">
	<div class="wide-link" style="border: none;">Cull Game</div>
	<%= text_field_tag :r_g_id, nil, { autocomplete: "off", placeholder: 'Game Barcode', style: 'width: 96%;', data: { title: 'Scan a barcode to remove the game from the system.', actions: ['focus'] } } %>
	<%= button_tag 'Cancel', { id: 'cancelRmvBtn', class: 'btn btn-danger form-button wide' } %>
	</div>
	
<div class="center-form">
	<div id='g_label'></div>
	</div>
    
<div id="new_game" title="New Game">
	<%= text_field_tag :title, nil, { autocomplete: "off", placeholder: 'Title', list: 'titles' } %>
	<%= text_field_tag :publisher, nil, { autocomplete: "off", placeholder: 'Publisher', list: 'publishers' } %>
	<%= select_tag :section_id, options_for_select(@sections, selected: select_option_for), { prompt: 'Select a Department' } %>
	</div>
	
<div id="backup_dialog" title="Backup the entire database?">
  	<p>
  		This may interrupt checkout processes.<br/>Please make sure to only do this at the end of teardown.
  		</p>
	</div>
	
<datalist id="titles">
	<% Title.all.each do |title|%>
		<option value="<%= title.title %>"></option>
	<% end %>
	</datalist>
	
<datalist id="publishers">
	<% Publisher.all.each do |publisher|%>
		<option value="<%= publisher.name %>"></option>
	<% end %>
	</datalist>