<div class='center-form'>
	<p><%= @pax.full_name %></p>
	
	<div>
	    <span style='width:200px; display:inline-block;'>Open Checkouts:</span>
	    <span style='width:75px; display:inline-block; text-align:right;' ><%= @current_checkouts %></span>
		</div>
		
	<div>
	    <span style='width:200px; display:inline-block;'>Total Checkouts:</span>
	    <span style='width:75px; display:inline-block; text-align:right;' ><%= @total_checkouts %></span>
		</div>
		
	<div>
	    <span style='width:200px; display:inline-block;'>Shortest Checkout Duration:</span>
	    <span style='width:75px; display:inline-block; text-align:right;' ><%= @shortest_checkout ? @shortest_checkout.play_time_min : 0 %></span>
	    <span> minutes</span>
		</div>
		
	<div>
	    <span style='width:200px; display:inline-block;'>Longest Checkout Duration:</span>
	    <span style='width:75px; display:inline-block; text-align:right;' ><%= @longest_checkout ? @longest_checkout.play_time_min : 0 %></span>
	    <span> minutes</span>
		</div>
	    
	<br/>
	<p>Top 20 Checkouts Per Title</p>
	<% @top_games.each_with_index do |title, index| %>
	    <div <%= index.even? ? 'class=oddRow' : nil %> style='width:425px;' >
	        <span style='width:350px; display:inline-block;' ><%= title.title %></span>
	        <span style='width:50px; display:inline-block; text-align:right;' ><%= title.total %></span>
	    	</div>
	<% end %>
	</div>