<% if @loaner.games.count > 0 %>
    <p><%= link_to 'Return All Games', @loaner, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @loaner.name %>
</p>

<% if !@loaner.contact.empty? %>
<p>
  <b>Contact:</b>
  <%= @loaner.contact %>
</p>
<% end %>

<p>
  <b>Phone number:</b>
  <%= @loaner.phone_number %>
</p>

<p>
  <b>Games:</b>
  <% if @loaner.games.count > 0 %>
      <% @loaner.games.each do |game| %>
        <p><%= game.title.title + ' | ' + game.title.publisher.name %></p>
      <% end %>
  <% else %>
      None!
  <% end %>
</p>

<%= link_to 'Edit', edit_loaner_path(@loaner) %> |
<%= link_to 'Back', loaners_path %>
