<h2>Attendees</h2>
<span>
<%= form_tag attendees_path, :method=>'get' do %>
    <div class="field" style='width:240px;margin:auto 0 auto auto;float:left;'>
    	<%= render 'tags/attendee/barcode' %>
    	<%= render 'tags/attendee/first_name' %>
    	<%= render 'tags/attendee/last_name' %>
    	<%= render 'tags/attendee/handle' %>
    	<%= render 'tags/buttons/search' %>
    </div>
<% end %>
</span>
<span>
<% if @attendees.count > 0 %>
    <table style='width:720px;margin:auto auto auto 0;border-spacing:0;'>
        <tr>
        <th>Barcode</th>
        <th>Name</th>
        <th>Enforcer</th>
        <th>Handle</th>
        </tr>
		<% ctr = 1 %>
        <% @attendees.each do |attendee| %>
        	<% if ctr == 0 %>
            	<tr style='background-color: #2E2E2E;'>
            	<% ctr = 1 %>
            <% else %>
            	<tr>
            	<% ctr = 0 %>
           	<% end %>
                <td style='text-align:center;'><%= attendee.barcode %></td>
                <td><%= attendee.name %></td>
                <td style='text-align:center;'><%= bool_img attendee.enforcer? %></td>
                <td style='text-align:center;'><%= attendee.handle %></td>
            </tr>
        <% end %>
    </table>
<% end %>
</span>