<h1>Listing attendees</h1>

<table style='width:100%;'>
  <tr>
    <th>Barcode</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Enforcer</th>
    <th>Handle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td style='text-align:center;'><%= link_to attendee.barcode, attendee %></td>
    <td><%= attendee.first_name %></td>
    <td><%= attendee.last_name %></td>
    <td style='text-align:center;'><%= bool_img attendee.enforcer? %></td>
    <td style='text-align:center;'><%= attendee.handle %></td>
  </tr>
<% end %>
</table>