<h2>Attendees</h2>

<%= form_tag attendees_path, :method=>'get' do %>
    <div class="field">
    	<%= render 'tags/attendee/barcode' %>
    	<%= render 'tags/attendee/first_name' %>
    	<%= render 'tags/attendee/last_name' %>
    	<%= render 'tags/attendee/handle' %>
    	<%= render 'tags/buttons/search' %>
    </div>
<% end %>

<% if @attendees.count > 0 %>
    <table style='width:100%;'>
        <tr>
        <th>Barcode</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Enforcer</th>
        <th>Handle</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

        <% @attendees.each do |attendee| %>
            <tr>
                <td style='text-align:center;'><%= link_to attendee.barcode, attendee %></td>
                <td><%= attendee.first_name %></td>
                <td><%= attendee.last_name %></td>
                <td style='text-align:center;'><%= bool_img attendee.enforcer? %></td>
                <td style='text-align:center;'><%= attendee.handle %></td>
            </tr>
        <% end %>
    </table>
<% end %>