<h1>New attendee</h1>

<%= render 'layouts/progress_bar' %>

<%= form_tag attendees_info_path do %>
    <div class="field">
        <%= label_tag :first_name %><br />
        <%= text_field_tag :first_name, params[:first_name] %>
    </div>
    
    <div class="field">
        <%= label_tag :last_name %><br />
        <%= text_field_tag :last_name, params[:last_name] %>
    </div>
    
    <div class="field">
        <%= label_tag :handle %><br />
        <%= text_field_tag :handle, params[:handle] %>
    </div>
    
    <div class="actions">
    <%= submit_tag "attendee - next step" %>
    </div>
<% end %>

<%= link_to 'Back', attendees_path %>
