<h1>New attendee</h1>

<%= form_tag attendees_info_path do %>
    <div class="field">
    	<%= render 'tags/attendee/first_name' %>
    	<%= render 'tags/attendee/last_name' %>
    	<%= render 'tags/attendee/handle' %>
    	<%= render 'tags/buttons/next_step' %>
    </div>
<% end %>

<%= link_to 'Back', attendees_path %>
