<p>
  <b>Barcode:</b>
  <%= @attendee.barcode %>
</p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>First name:</b>
  <%= @attendee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @attendee.last_name %>
</p>

<p>
  <b>Enforcer:</b>
  <%= @attendee.enforcer? %>
</p>

<p>
  <b>Handle:</b>
  <%= @attendee.handle %>
</p>

<%= link_to 'Back', attendees_path %>
