<table id='paxes' style='width:100%;'>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
    <th>Current</th>
    <th></th>
    <th></th>
  </tr>

	<% @paxes.each_with_index do |pax, index| %>
		<tr id="pax-<%= pax.id %>" <%= index.even? ? 'class=oddRow' : nil %> data-full-name='<%= pax.full_name %>'>
	    	<td data-id='<%= pax.id %>' data-name='<%= pax.name %>' ><%= pax.name %></td>
		    <td data-id='<%= pax.id %>' data-location='<%= pax.location %>' ><%= pax.location %></td>
		    <td data-id='<%= pax.id %>' data-start_date='<%= pax.start_date %>'><%= pax.start_date %></td>
		    <td data-id='<%= pax.id %>' data-end_date='<%= pax.end_date %>'><%= pax.end_date %></td>
		    <td><%= bool_img pax.current %></td>
		    <td><%= button_tag 'Set Current', { 'data-id'=> "#{pax.id}", class:'setCurrentBtn btn btn-small btn-default' } %></td>
		    <td><%= button_tag 'Edit', { 'data-id'=> "#{pax.id}", class:'editBtn btn btn-small btn-default' } %></td>
	  		</tr>
		<% end %>
	</table>
<%= button_tag 'Add New Pax', { id:'newPaxBtn', class: 'btn btn-primary' } %>
<br/>
<span id="p_label"></span>