<h1>PAXes</h1>

<table id='paxes' style='width:100%;'>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
    <th>Current</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% @paxes.each do |pax| %>
		<tr id="pax-<%= pax.id %>">
	    	<td data-id='<%= pax.id %>' data-name='<%= pax.name %>' ><%= pax.name %></td>
		    <td data-id='<%= pax.id %>' data-location='<%= pax.location %>' ><%= pax.location %></td>
		    <td data-id='<%= pax.id %>' data-start='<%= pax.start %>'><%= pax.start %></td>
		    <td data-id='<%= pax.id %>' data-end='<%= pax.end %>'><%= pax.end %></td>
		    <td><%= bool_img pax.current %></td>
		    <td><%= submit_tag 'Set Current', { 'data-id'=> "#{pax.id}", class:'setCurrentBtn' } %></td>
		    <td><%= submit_tag 'Edit', { 'data-id'=> "#{pax.id}", class:'editBtn' } %></td>
		    <td><%= link_to 'Show Metrics', metrics_path(:id => pax) %></td>
	  		</tr>
		<% end %>
	</table>
	<span id="p_label"></span>
<%= submit_tag 'Add New Pax', { id:'newPaxBtn' } %>