<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pax.name %>
</p>

<p>
  <b>Location:</b>
  <%= @pax.location %>
</p>

<p>
  <b>Start:</b>
  <%= @pax.start %>
</p>

<p>
  <b>End:</b>
  <%= @pax.end %>
</p>


<%= link_to 'Edit', edit_paxis_path(@pax) %> |
