<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @paxis.name %>
</p>

<p>
  <b>Start:</b>
  <%= @paxis.start %>
</p>

<p>
  <b>End:</b>
  <%= @paxis.end %>
</p>

<p>
  <b>Location:</b>
  <%= @paxis.location %>
</p>


<%= link_to 'Edit', edit_paxis_path(@paxis) %> |
<%= link_to 'Back', paxes_path %>
