<div class='center-form-wide'>
	<table id='sections'>
		<% @sections.each_with_index do |section, index| %>
			<tr <%= index.even? ? 'class=oddRow' : nil %> id="section-<%= section.id %>">
				<td style="width:250px;"><%= section.name %></td>
				<td>Games: <%= section.games.where(culled: false).size %></td>
				<td><%= button_tag 'Edit', { data: { id: section.id }, class: 'btn btn-default edit-btn' } %></td>
				</tr>
		<% end %>
		</table>
	
	<%= button_tag 'New Section', { id: 'newBtn', class: 'btn btn-primary' } %>
	</div>