<% if @game && @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= params %>
<%= form_tag games_path do %>
    <div class="field">
        <%= label_tag :title %><br />
        <%= text_field_tag :title, params[:title] %>
    </div>
    
    <div class="field">
        <%= label_tag :publisher %><br />
        <%= text_field_tag :publisher, params[:publisher] %>
    </div>
    
    <div class="field">
        <%= label_tag :section %><br />
        <%= select_tag :section_id, options_for_select(@sections, :selected => select_option_for)%>
    </div>
    
    <div class="field">
        <%= label_tag :barcode %><br />
        <%= text_field_tag :id, params[:id] %>
    </div>
    
    <div class="actions">
    <%= submit_tag "create game" %>
    </div>
<% end %>