<h2>New Game</h2>

<div id='game_form'>
	<%= render 'tags/game/barcode' %>
	<%= render 'tags/game/title' %>
	<%= render 'tags/game/publisher' %>
	<%= render 'tags/game/sections' %>
	<%= submit_tag 'Add Game', { id: 'add_btn' } %>
	</div>
	<span id='g_label'></span>