<span>
<h2>New Game</h2>
<h3>Enter GAME Barcode below to continue.</h3>

<%= render 'layouts/progress_bar' %>

<%= form_tag games_path do %>
    <div class="field">
        <%= text_field_tag :g_id, params[:g_id] %>    
        <%= submit_tag "new game - next step" %>
    </div>
<% end %>

<% if !session[:l_id].nil? %>
    <p class='loaner-notice'>Adding game for <%= Loaner.find(session[:l_id]).name %>.</p>
    <p><%= link_to 'back to Loaners', loaners_path %>
<% else %>
    <%= link_to 'All Games', games_path %>
<% end %>
</span>