<h1>remove game</h1>

<p id="notice"><%= notice %></p>

<%= form_tag games_remove_path do %>
    <div class="field">
        <%= label_tag :game_barcode %><br />
        <%= text_field_tag :g_id, params[:g_id] %>
    </div>
    
    <div class="actions">
    <%= submit_tag "remove game" %>
    </div>
<% end %>

<%= link_to 'Back', games_path %>
