<table style='width:100%;border-spacing:0;'>
	<tr>
		<th>Title</th>
		<th>Publisher</th>
		<th># of copies</th>
		<th></th>
	</tr>
	<% @titles.each_with_index do |title, index| %>
		<tr <%= index.even? ? 'class=oddRow' : nil %>>
			<td style='width:500px;'><%= title.title %></td>
			<td style='width:300px;'><%= title.publisher.name %></td>
			<td style='width:30px;text-align:center;'><%= title.games.count %></td>
			<td style='width:50px;'><%= link_to 'Edit', edit_title_path(title) %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @titles %>
