<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :attendee_id %><br />
    <%= f.number_field :attendee_id %>
  </div>
  <div class="field">
    <%= f.label :pax_id %><br />
    <%= f.number_field :pax_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
