<h2>Checkout</h2>
<% if !@current_checkouts.empty? %>
    <div id="notice">
        <h3>Attendee already has the following checked out:</h3>
        <% @current_checkouts.each do |co| %>
            <%= form_tag checkouts_swap_path ({:g_id => params[:g_id], :old_g_id => co.game_id}) do %>
                <%= submit_tag "swap" %>
                <%= co.game.barcode %> - <%= co.game.title.title %>
                <% end %>
            <% end %>
        </div>
    <% end %>
<br/>
<%= form_tag checkouts_game_path params do %>
    <div class="actions">
        <%= submit_tag "continue with checkout" %>
        </div>
    <% end %>