<h1>New checkout - game barcode entry</h1>

<p id="notice"><%= notice %></p>

<%= form_tag checkouts_game_path do %>
    <div class="field">
        <%= label_tag :game_barcode %><br />
        <%= text_field_tag :g_id, session[:g_id] %>
    </div>
    
    <div class="actions">
    <%= submit_tag "confirm checkout" %>
    </div>
<% end %>
