<h1>Listing checkouts</h1>

<table style='width:100%;'>
  <tr>
    <th>Barcode</th>
    <th>Game</th>
    <th>Attendee</th>
    <th>Pax</th>
    <th>Check out time</th>
  </tr>

<% @checkouts.each do |checkout| %>
  <tr>
    <td style='text-align:center;'><%= link_to checkout.game.barcode, checkout %></td>
    <td><%= checkout.game.title.title %></td>
    <td><%= link_to checkout.attendee.name, checkout.attendee %></td>
    <td style='text-align:center;'><%= checkout.pax.full_name %></td>
    <td style='text-align:center;'><%= checkout.check_out_time.strftime("%a %I:%M%p") %></td>
  </tr>
<% end %>
</table>