<table id='allCheckouts' style='width:100%;'>
	<tr>
		<th>Game</th>
		<th>Attendee</th>
		<th>Check out time</th>
		</tr>

	<% @checkouts.each_with_index do |co, index| %>
		<tr <%= index.even? ? 'class=oddRow' : nil %>
		  data-a_id='<%= co.attendee.barcode %>'
		  data-g_id='<%= co.game.barcode %>'
		  data-attendee_name='<%= co.attendee.name %>'
		  data-game_name='<%= co.game.title_name %>'>
			<td style='text-align:center;'><%= co.game.barcode %> - <%= co.game.title_name %></td>
			<td style='text-align:center;'><%= co.attendee.barcode %> - <%= co.attendee.name %></td>
			<td style='text-align:center;'><%= co.check_out_time.strftime("%a %I:%M%p") %></td>
			<td><button type="button" class="btn btn-danger index-return">return game</button></td>
			</tr>
		<% end %>
	</table>
	
<div id="return-confirm" title="Return Game">
	<p>
		Game:
		<br/>
		<strong>
			<span id='game_name'></span>
			</strong>
		<br/><br/>
		Attendee:
		<br/> 
	 	<strong>
			<span id='attendee_name'></span>
			</strong>
		</p>
	</div>