<h1>Checkouts</h1>

<table style='width:100%;'>
  <tr>
    <th>Barcode</th>
    <th>Game</th>
    <th>Attendee</th>
    <th>Pax</th>
    <th>Check out time</th>
  </tr>

<% @checkouts.each do |co| %>
  <tr>
    <td style='text-align:center;'><%= co.game.barcode %></td>
    <td><%= co.game.name %></td>
    <td title='<%= co.attendee.barcode %>'>
    	<%= co.attendee.name %></td>
    <td style='text-align:center;'><%= co.pax.full_name %></td>
    <td style='text-align:center;'><%= co.check_out_time.strftime("%a %I:%M%p") %></td>
    <td>
    	<%= #FIXME: Do this via javascript to remove row dynamically.
    		link_to "Return #{co.game.name}",
    		return_path({ a_id: co.attendee.id, g_id:co.game.id }),
    		{
				confirm: "Return #{co.game.name} to #{co.attendee.name}?",
				remote: true,
				method: :POST
				}
			%>
    	</td>
  </tr>
<% end %>
</table>