<h1>New checkout</h1>

<p id="notice"><%= notice %></p>

<%= form_tag checkouts_path do %>
    <div class="field">
        <%= label_tag :attendee_barcode %><br />
        <%= text_field_tag :a_id %>
    </div>
    
    <div class="actions">
    <%= submit_tag "checkout - next step" %>
    </div>
<% end %>

<%= link_to 'all current checkouts', checkouts_path %>
