<table id='checkout_form'>
	<tr>
		<td>
			<%= text_field_tag :co_a_id, nil, { autocomplete: "off", placeholder: 'Attendee Barcode', autoFocus: true } %>
			<%= submit_tag 'x', { id: 'x_atte', class: 'invis' } %>
			<span id='a_label'></span>
			</td>
		</tr>
	<tr>
		<td>
			<input type='checkbox' id='swap_chkbox' checked='true' class='invis'>swap_test</input>
		</td>
		</tr>
	<tr>
		<td>
			<%= text_field_tag :co_g_id, nil, { autocomplete: "off", placeholder: 'Game Barcode'} %>
			<span id='g_label'></span>
			</td>
		</tr>
	</table>

<h3>Click <%= link_to 'here', checkouts_path %> to view all current checkouts.</h3>

<div id='new_attendee' class='invis' title='New Attendee'>
	<%= render 'tags/attendee/first_name' %><br/>
	<%= render 'tags/attendee/last_name' %><br/>
	<%= render 'tags/attendee/handle' %>
	</div>
	
<table id='returns'>
	</table>