<h2>Checkout</h2>
<%= hidden_field_tag 'v_g' %>
<%= hidden_field_tag 'v_a' %>
<table id='checkout_form'>
	<tr>
		<td>
			<%= render 'tags/attendee/barcode' %>
			<span id='attendee_label'></span>
			</td>
		</tr>
	<tr>
		<td>
			<%= render 'tags/game/barcode' %>
			<span id='game_label'></span>
			</td>
		</tr>
	</table>
<%= submit_tag 'Checkout Game', { id: 'checkout_btn', disabled: true } %>

<h3>Click <%= link_to 'here', checkouts_path %> to view all current checkouts.</h3>
