<footer>
    <% if Rails.env.development? %>
        <%= debug(params) %>
        <%= debug(session) %>
        <%= debug(notice) %>
    <% end %>
    <!--
    <div style='text-align:center;'>
        <%= link_to 'check out', new_checkout_path, :class => tab_class('checkout') %> |
        <%= link_to 'return', returns_new_path, :class => tab_class('return') %> |
        <%= link_to 'new attendee', new_attendee_path, :class => tab_class('newattendee') %> |
        <%= link_to 'admin', admin_path, :class => tab_class('admin') %> 
        <%= '|' if current_user %>
        <%= sign_out_link current_user %>
        </div>
    </footer>
   -->