<header class='header'>
    <%= link_to image_tag("title_default.png", alt: "TableTop DB mk2"), root_path %>
    <span class='left'>
        <%= current_pax_label %>
        </span>
    <span class='mid'>
        <%= link_to "All Current Checkouts", checkouts_path %>
        <span id="openCheckoutLabel" data-title="This count is only updated on page refresh.">
        	<span id="openCheckoutCount"><%= open_checkout_count %></span>
        	<span> open</span>
        	</span>
        </span>
    <span class='right'>
        <%= admin_label current_user %>
        </span>
    <nav>
        <ul>
            <li><%= link_to 'Check Out/Return', new_checkout_path, :class => tab_class('checkout') %></li>
            <li><%= link_to 'Games', games_path, :class => tab_class('games') %></li>
            <li><%= link_to 'Admin', admin_path, :class => tab_class('admin') %></li>
            </ul>
        </nav>
    </header>
