<header class='header'>
    <%= link_to image_tag("title_default.png", alt: "TableTop DB mk2"), root_path %>
    <nav>
        <span class='left-span'>
            <%= current_pax_label %>
            </span>
        <span class='right-span'>
            <%= admin_label current_user %>
            </span>
        <ul>
            <li><%= link_to 'Check Out/Return', new_checkout_path, :class => tab_class('checkout') %></li>
            <li><%= link_to 'Games', games_path, :class => tab_class('games') %></li>
            <li><%= link_to 'Admin', admin_path, :class => tab_class('admin') %></li>
            </ul>
        </nav>
    </header>
<br/>
